@model ItemListViewModels


<div class="container-fluid">
  <div class="row">
    @foreach (var items in Model.Items)
    {
      <div class="col-lg-6">
        <div class="img-thumbnail">
          <img src="@items.ImageThumbnailUrl" style="height:400px;width:400px;" alt="Image for Item" />
          <div class="caption">
            <h3 class="pull-right">@items.Price.ToString("c")</h3>
            <p>@items.Description</p>
          </div>
          <div class="addToCart">
            <p class="button">
              <a class="btn btn-primary"
                 asp-controller="ShoppingCart"
                 asp-action="AddToShoppingCart"
                 asp-route-itemId="@items.ItemId">Add to Cart</a>
            </p>
          </div>
        </div>
      </div>
    }
  </div>
  </div>
